<div class="container">
  <h1> All cocktails <%= link_to 'Add a new cocktail', new_cocktail_path, class: "btn btn-primary" %> </h1>
  <br>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cocktail_pic(cocktail)%>');">
          <div class="card-description">
              <h2>Name: <%= link_to cocktail.name%> </h2>
          </div>
          <%=link_to "", cocktail_path(cocktail), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
  <h2> Don't drink and drive! <h2>
  <h3> Got caught? <%= link_to 'Choose a lawyer', 'https://www.thebalance.com/how-to-choose-a-lawyer-2164685' , class: "btn btn-danger" %> </h3>

</div>
<br>
